<% provide(:title, 'About Us') %>

<h1>About Us</h1>
<p class="text-center">
  A "Twitter clone" built for learning experience. Look <a href="http://michaelyim.herokuapp.com/">here</a> to learn more about me!
</p>
