<% provide(:title, 'Help') %>

<h1>Help</h1>
<p>
  This is a sample application, a "Twitter clone" built for learning purposes, with the help of Michael Hartl's Rails Book. See
  <a href="http://michaelyim.herokuapp.com">here</a> for more of my work, and see
  <a href="http://railstutorial.org/book">here</a> for Michael Hartl's Rails Book.
</p>
