<footer class="footer">
  <div class="container">
    <small>
      by <a href="michaelyim.herokuapp.com">M. Yim</a>

    </small>
    <nav>
      <ul>
        <li><%= link_to "About",   about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><a href="http://michaelyim.herokuapp.com">Creator</a></li>
      </ul>
    </nav>
  </div>
</footer>